/*Element*/
li	{

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*Star*/
/*applies to everything on the page*/
*{
	 border: 1px solid lightgrey;
}


/*Descendant Selectors*/
/*Every anchor tag within a list item*/

li a {
	color: red;
}

/*Adjacent Selector*/
/*Just selects all unordered lists that are adjacent or immediately follow a h4*/
h4 + ul {
	border: 4px solid red;
}

/*Attribute Selector*/
/*calls out a specific attribute to adjust*/
a[href="http://www.google.com"] {
	background: blue
}

/*nth of type*/
ul:nth-of-type(3){
	background: purple
}

